@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: "Quicksand";
    color: "blackAlpha.900";
}

.gradient_background {
    background: linear-gradient(0deg, #F6AD55, #da61ff);
  }

 